@font-face {
    font-family:'Bauhaus 93' ;
    src: url('../font/bauhaus-93.ttf');
  }
  
  *{
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
      font-family: "Bauhaus 93";
  
     
    }

    h1, h2, h3 {font-family: "Verdana";}


    a {
        text-decoration: none;
      }

      .btn{
        background-color: #E8CC0D;
        color: black;
      }
      
      .btn:hover{
        background-color: rgb(237, 230, 101);
        color: black;
      }
      
      /* .detail{

        border: black 1px solid;
        ;
       
      } */

      .text-detail{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between ;
        align-items: center;
        
      }

      .text-detail p {
        font-size: 1.5rem;
      }

      .photo-detail {
        display: flex;
        justify-content: center ;
        align-items: center;
        width: 50%;
      }

      .block-cate{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: black 1px solid; */
       
        padding: 3rem;
      }

      

      .carte-cate{
        margin: 1.5rem;
      }



.cart-block{

display: flex;


}



      .cart-card{

        display: flex;
        justify-content: center;
      }
  

