footer{
    display: flex;
    background-color: #102940;
    height: 17rem;
    justify-content: space-between;
    color: white;
    font-size: 1.3em;
    align-items: center;
    padding: 4rem;
  }
  

  #bcontact {
    background-color: #1c87c9;
    box-shadow: 0 5px 0 #105cad;
    color: white;
   padding: 1em 1.5em;
   position: relative;
   text-decoration: none;
   display: inline-block;
   
  }
  
  #bcontact:hover{
    background-color: rgb(101, 199, 237);
  }