footer{
    display: flex;
    background-color: #101811;
    height: 17rem;
    justify-content: space-between;
    color: white;
    font-size: 1.3em;
    align-items: center;
    padding: 4rem;
  }
  
footer a{
  color: white;
}

footer a:hover{
  color: rgb(243, 243, 57);
}


  #bcontact {
    background-color: #ead63b;
    box-shadow: 0 5px 0 #eee237;
    color: black;
   padding: 1em 1.5em;
   position: relative;
   text-decoration: none;
   display: inline-block;
   
  }
  
  #bcontact:hover{
    background-color: rgb(243, 243, 57);
  }