


body{

    background-image: url(/img/connexion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    /* background-position-y: -5rem; */
    
}

a {
    text-decoration: none;
  }

.signinform {
    padding: 40px 40px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
    min-height: 100vh;
    
  }
  
  
.connexion{
    display: flex;
    flex-direction: column;
    background-color:#109D1A ;
    background-size: cover;
    border-radius: 20px;
    padding: 3rem;
    
    
}
 

.connexion h3,a {

  color:#E8CC0D ;

}

  

  
 
.trait{

  background-color: #E8CC0D;
 margin: auto;
  width: 4rem;
  height: 2px;

}



.form-register{

  background-color: #109d19;
  border-radius: 20px;
  padding: 3rem;
  
 margin: 15rem;
  


}


.form-register h3{

  color:#E8CC0D ;

}

  /** Responsive **/
 