

body{
  background-image: url('/img/jungle3.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

#global{
  background-color: rgba(255, 255, 255, 0.905);;
  
  
}








.card{

  margin: 1.5rem;
}



.plus-vendu{


  background-image:linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),  url('/img/decouvrir.jpg');
  
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 25rem;
  align-items: center;
  justify-content: center;

  border-radius: 15px;

  margin: 3rem;



}      
   



