{% extends 'base.html.twig' %}


{% block body %}

<section class="container">


<h1>Conditions général d'utilisation</h1>

<p>1. Conditions du compte
Pour accéder aux Services et les utiliser, vous devez créer un compte Shopify (« Compte »). 
Pour terminer le processus de création de Compte, vous devez fournir votre nom légal complet, 
votre adresse professionnelle, votre numéro de téléphone, une adresse e-mail valide et toute autre information requise.
 Shopify peut rejeter votre demande de création ou fermer un Compte existant pour quelque raison que ce soit, à sa seule
  discrétion.
Vous devez : (i) être âgé(e) de 18 ans révolus, ou (ii) avoir au minimum l’âge de la majorité dans la juridiction dans 
laquelle vous résidez et à partir de laquelle vous utilisez les Services, pour ouvrir un Compte.
Vous confirmez que vous recevez tout Service fourni par Shopify uniquement dans le but d’exercer une activité 
professionnelle et non dans un but personnel, familial ou domestique.
Vous reconnaissez que Shopify utilisera l’adresse e-mail que vous avez fournie lors de l’ouverture d’un Compte,
 ou modifiée à un moment donné afin de mettre à jour votre moyen privilégié de communication 
 (« Adresse e-mail principale »). Vous devez consulter les e-mails envoyés à l’Adresse e-mail principale fournie à 
 Shopify et vérifier que cette dernière est capable d’envoyer et de recevoir des messages. 
 Il est uniquement possible d’authentifier les communications par e-mail avec Shopify 
 lorsqu’elles proviennent de votre Adresse e-mail principale.
Vous êtes responsable de la sécurité de votre mot de passe. Shopify ne peut et ne sera pas 
responsable de toute perte ou tout dommage résultant de votre incapacité à maintenir la 
sécurité de votre Compte et de votre mot de passe. Nous pouvons demander des mesures de 
sécurité supplémentaires à tout moment et nous nous réservons le droit d’ajuster ces 
obligations à notre discrétion.
Seuls les Utilisateurs Shopify peuvent bénéficier d’une assistance technique vis-à-vis
 des Services. Toute question concernant les Conditions d’utilisation doit être adressée 
 à l’Assistance Shopify.
Vous acceptez de ne pas reproduire, dupliquer, copier, vendre, revendre ou exploiter toute 
partie du Service, toute utilisation des Services ou tout accès aux Services sans l’autorisation
 écrite expresse de Shopify.
Vous acceptez de ne pas contourner, éviter ou éluder toute limitation technique des Services,
 y compris pour traiter des commandes en dehors du processus de paiement de Shopify, de ne 
  utiliser d’outil permettant de bénéficier de fonctions ou fonctionnalités désactivées en temps
   normal dans les Services, ni de décompiler, désassembler ou procéder à toute autre rétro-ingénierie des Services.
Vous acceptez de ne pas accéder aux Services et de ne pas surveiller de contenu ou d’information
 associé(e) aux Services à l’aide d’un robot, d’un outil d’exploration ou d’extraction ou de tout autre moyen automatisé.
Vous comprenez que vos Matériels peuvent être transférés sans chiffrement et qu’ils impliquent
 (a) des transmissions sur plusieurs réseaux ; et (b) des modifications, dans le but de garantir 
  conformité et de les adapter aux exigences techniques relatives aux connexions à des réseaux ou des appareils.
   Le terme « Matériels » désigne vos Marques déposées, votre contenu soumis à un droit d’auteur, 
   tous les produits et services que vous vendez par l’intermédiaire des Services 
   (y compris les descriptions et les tarifs), ainsi que l’ensemble des photos, images,
   vidéos, graphiques, contenus écrits, fichiers audio, codes, informations et autres données 
   fournis à Shopify ou ses affiliés, ou mis à leur disposition, par vos affiliés ou vous-même.</p>

</section>

{% endblock %}