{% extends 'base.html.twig' %}

{% block body %}

<section class="container">

<h1>Mentions légales</h1>


<p>Le site JournalduNet.com est édité par :
CCM BENCHMARK GROUP
14 boulevard Haussmann
75009, Paris </p>

SAS au capital de 1 850 715,15€
RCS Paris 512 085 630 
N° de TVA intracommunautaire : FR02 512 085 630 
Le directeur de la publication est Marc Feuillée. 

Le site JournalduNet.com est hébergé par CCM Benchmark Group.

Ce site respecte le droit d'auteur. Tous les droits des auteurs des Oeuvres protégées reproduites et communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des Oeuvres autres que la reproduction et la consultation individuelles et privées sont interdites. 

CCM Benchmark Group consent à l'utilisateur le droit de consultation desdits sites pour son usage strictement personnel et privé. Toute reproduction, rediffusion ou commercialisation totale ou partielle du contenu est interdite.

Lire aussi notre engagement sur les données personnelles</p>



<p>Le site JournalduNet.com est édité par :
CCM BENCHMARK GROUP
14 boulevard Haussmann
75009, Paris </p>

SAS au capital de 1 850 715,15€
RCS Paris 512 085 630 
N° de TVA intracommunautaire : FR02 512 085 630 
Le directeur de la publication est Marc Feuillée. 

Le site JournalduNet.com est hébergé par CCM Benchmark Group.

Ce site respecte le droit d'auteur. Tous les droits des auteurs des Oeuvres protégées reproduites et communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des Oeuvres autres que la reproduction et la consultation individuelles et privées sont interdites. 

CCM Benchmark Group consent à l'utilisateur le droit de consultation desdits sites pour son usage strictement personnel et privé. Toute reproduction, rediffusion ou commercialisation totale ou partielle du contenu est interdite.

Lire aussi notre engagement sur les données personnelles</p>


<p>Le site JournalduNet.com est édité par :
CCM BENCHMARK GROUP
14 boulevard Haussmann
75009, Paris </p>

SAS au capital de 1 850 715,15€
RCS Paris 512 085 630 
N° de TVA intracommunautaire : FR02 512 085 630 
Le directeur de la publication est Marc Feuillée. 

Le site JournalduNet.com est hébergé par CCM Benchmark Group.

Ce site respecte le droit d'auteur. Tous les droits des auteurs des Oeuvres protégées reproduites et communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des Oeuvres autres que la reproduction et la consultation individuelles et privées sont interdites. 

CCM Benchmark Group consent à l'utilisateur le droit de consultation desdits sites pour son usage strictement personnel et privé. Toute reproduction, rediffusion ou commercialisation totale ou partielle du contenu est interdite.

Lire aussi notre engagement sur les données personnelles</p>



</section>





{% endblock %}