{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
<section class="container">
<h1>Contactez-nous</h1>

    <div>

        {{ form(formulaire)}}
    
    </div>
</section>
{% endblock %}
