<footer>

  <div id="foot1" class="text-center">
    <p><a href="{{ path('app_cgu') }}">CGU</a></p>
    <p><a href="{{ path('app_cgv') }}">CGV</a></p>
  </div>

  <div id="foot2" class="text-center">
    <p><a href="{{ path('app_mention') }}">Mentions Légales</a></p>
    <p><a href="">Plan du Site</a></p>
  </div>

  <div id="foot3" class="text-center">
    <p>Où nous trouver ?</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.2937835064204!2d2.4116933156312146!3d48.623359979265274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5de72bab00799%3A0x2d5ace4b490480f2!2s2%20Rue%20Jean%20Mermoz%2C%2091080%20%C3%89vry-Courcouronnes!5e0!3m2!1sfr!2sfr!4v1670334830080!5m2!1sfr!2sfr" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div id="foot4" class="text-center">
    <p>Une question ? Un problème ?</p>
    <a id="bcontact" href="{{ path('app_contact') }}">Nous Contacter</a>
  </div>

  <div id="logo" class="text-center">
    <a href=""><img src="/icons/instagram.svg" alt=""></a>
    <a href="https://www.linkedin.com/in/neal-belfan-2b0458198/"><img src="/icons/linkedin.png" alt=""></a>
    <a href="https://github.com/neal97"><img src="/icons/github.png" alt=""></a>
  </div>

</footer>